@page
@model BingSamples.Web.Pages.Bing.IndexPageModel

@{
    ViewData["Title"] = "Bing API dashboard";
}

<h2>Bing API examples dashboard</h2>

<div class="row mt-3">
    <div class="col-2 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Search page</h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text">
                    Search page using Bing and integrating it in our page
                </p>
                <a asp-page="/Bing/Search"
                   class="card-link">
                    Go <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-2 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Search page with translator</h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text">
                    Search page using Bing and integrating it with translator
                </p>
                <a asp-page="/Bing/SearchTranslate"
                   class="card-link">
                    Go <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-2 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Search page with images</h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text">
                    Search page using Bing Images
                </p>
                <a asp-page="/Bing/SearchImages"
                   class="card-link">
                    Go <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-2 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Search news</h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text">
                    Search page using Bing News
                </p>
                <a asp-page="/Bing/SearchNews"
                   class="card-link">
                    Go <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-2 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Search videos</h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text">
                    Search page using Bing Videos
                </p>
                <a asp-page="/Bing/SearchVideos"
                   class="card-link">
                    Go <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-2 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Search suggestions</h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text">
                    Search page using Bing Suggestions
                </p>
                <a asp-page="/Bing/SearchSuggestions"
                   class="card-link">
                    Go <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>