@page
@model BingSamples.Web.Pages.Bing.SearchTranslatePageModel

@{
    ViewData["Title"] = "Search Translate";
}
@section breadcrumb
{
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-page="/Bing/Index">Dashboard</a>
    </li>
    
    <li aria-current="page"
        class="breadcrumb-item active">
        Search page with translator
    </li>
</ol>
}
<h2>
    Search page with using translator
</h2>
<p>Form below uses Bing Search API.</p>

<div class="container">
    <form class="row">
        <div class="col-8">
            <div class="input-group mb-3">
                <input class="form-control"
                       id="tbQuery"
                       name="Query"
                       placeholder="enter search query and press Find me a good result"
                       type="text"
                       value="@Model.Query">
                <button class="btn btn-outline-secondary"
                        type="submit">
                    Find me a good translated result <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="container mt-2">
    @await Html.PartialAsync("_SearchList", Model.SearchResults)
</div>
